<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094607862540-5hn5ea62rhadjtkgm5ofj2u8v4es94pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094607862540-5hn5ea62rhadjtkgm5ofj2u8v4es94pk</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8tDB3s-ldU2MxUJptnvB5QquVi3O8B4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094607862540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peetmee.PeetMee</string>
	<key>PROJECT_ID</key>
	<string>peetmee-d41e9</string>
	<key>STORAGE_BUCKET</key>
	<string>peetmee-d41e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094607862540:ios:f1a00783d407c6eff72729</string>
	<key>DATABASE_URL</key>
	<string>https://peetmee-d41e9.firebaseio.com</string>
</dict>
</plist>